/NewFolder/Semana 3/nbproject/private/
/NewFolder/Semana 3/build/
/NewFolder/PruebaLogin/nbproject/private/
/NewFolder/PruebaLogin/build/
/Clase 6/ConsultaUSuarios/nbproject/private/
/Clase 6/ConsultaUSuarios/build/
